python-telegram-bot==13.7
kiteconnect>=3.9.0,<4.0
pandas
numpy>=1.24.0,<1.27
yfinance
scikit-learn
scipy
ccxt
talib
python-dotenv
kiteconnect==5.0.1
requests==2.31.0
python-dateutil==2.9.0.post0
pyOpenSSL==25.1.0
service-identity==24.2.0
six==1.17.0
autobahn==19.11.2
Twisted==25.5.0
txaio==25.6.1
cryptography==45.0.3
zope.interface==7.2
cffi==1.17.1
pycparser==2.22
attrs==25.3.0
pyasn1==0.6.1
pyasn1-modules==0.4.2
typing-extensions==4.13.2
idna==2.10
urllib3==1.26.20
certifi==2025.4.26
charset-normalizer==3.4.2
hyperlink==21.0.0
incremental==24.7.2
automat==25.4.16
constantly==23.10.4
